.header_container{
    background-color: #0C0E1C;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.header_container .Header-logo{
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0 auto;
    display: inline-block;
}